click~=8.1.7
hop-client~=0.10.0  # Ensure compatibility with other dependencies
inquirer~=2.8
ipython~=7.32.0  # Downgraded for compatibility
numpy~=1.26.3
python-dotenv~=0.21.1
setuptools~=62.1.0  # Downgraded for compatibility
snews-data-formats~=1.0.0
wheel~=0.34.2  # Downgraded for compatibility
pytest~=8.3.2
pytest-cov~=4.1.0
