# This is a basic workflow to help you get started with Actions

name: tests

# Controls when the action will run. Triggers the workflow on push or pull
# request events but only for the main branch
on:
  push:
    branches:
      - main
      - release_*
  pull_request:
    branches:
      - main
      - release_*

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    strategy:
      matrix:
        # Test all supported Python versions under Ubuntu
        os: [ubuntu-latest, macos-latest]
        python-version: ['3.11', '3.12']

    # The type of runner that the job will run on.
    runs-on: ${{ matrix.os }}

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v4

      # Set up the Python environment and dependencies
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}
      # Check for Python syntax errors with Lint using flake8. Exit-0 treats all errors as warnings. The GitHub editor is 127 chars.
      - name: Lint with flake8
        run: |
          pip install flake8
          flake8 . --count --select=E9,F63,F7,F82 --show-source --statistics
          flake8 . --count --exit-zero --max-complexity=10 --max-line-length=127 --statistics

      - name: Install hop-client (Mac OS)
        run: |
          pip install setuptools wheel
          wget https://files.pythonhosted.org/packages/64/d1/108cea042128c7ea7790e15e12e3e5ed595bfcf4b051c34fe1064924beba/hop-client-0.9.0.tar.gz
          tar -xzf hop-client-0.9.0.tar.gz
          cd hop-client-0.9.0
          python setup.py install
          cd $GITHUB_WORKSPACE
        if: runner.os == 'macOS'

      - name: Install requirements (Mac OS)
        run: |
          python -m pip install --upgrade pip
          pip install wheel
          if [ -f requirements.txt ]; then pip install -r requirements.txt; fi
        if: runner.os == 'macOS'
        
      # Install package requirements. Different cases for Linux/Mac.
      - name: Install requirements (Linux)
        run: |
          python -m pip install --upgrade pip
          sudo apt-get install -y expect
        if: runner.os == 'Linux'
        
      - name: Install snews-pt
        run:  pip install .
        
      - shell: bash
        env:
          USERNAME: ${{ secrets.username }}
          PASSWORD: ${{ secrets.password }}
        run: |
          /usr/bin/expect << HOP
          spawn hop auth add
          expect "Username:"
          send "$USERNAME\n"
          expect "Password:"
          send "$PASSWORD\n"
          expect "Hostname (may be empty):"
          send "kafka.scimma.org\n"
          expect "Token endpoint (empty if not applicable):"
          send "\n"
          expect eof
          HOP
          hop auth locate

      - name: Check version
        run: snews_pt --version

      - name: Run pytest
        run: |
          pip install pytest
          pytest snews_pt
